body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.my-card-Img {
  height: 260px !important;
  margin-bottom: 3%;
}

div.card {
  margin: 2%;
  /* box-shadow: 1px 3px 1px #9e9e9e; */
  background-color: #fffffe;
}

.article-container {
  margin-top: 5%;
  background-color: #0F0E17;
}

.article-section {
  background-color: #0F0E17;
}

#intro-section {
  background-color: #0F0E17;
  font-size: 1.5em !important;
  color: #FFFFFE;
  padding: 100px 10% calc(150px + 10vh);;
}

.my-image-container {
  padding-left: 150px;
  margin-top: -150px;
}

#main-nav-bar nav{
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #0F0E17 !important;
  color: #FFFFFE;
  font-size: 2em;
  opacity: 80%;
  z-index: 1020;
}

#my-photo {
  width: 300px;
  height: 300px;
  
}

.my-image-container .row{
  margin-right: 0% !important;
  margin-left: 0% !important;
}
@media only screen and (max-width: 1200px) {
  .my-image-container {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  .my-image-container .row .col {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  /* #my-photo {
    margin-left: 0%;
  } */
  #intro-section h2 {
    font-size: 0.8em !important;
  }
}

.section-title {
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  font-size: 2.5em;
  color: #fffffe;
}

.section-title.title-dark {
  color: #0F0E17;
}
a.nav-link {
  color: rgba(255,255,255,.85) !important;
}

a.nav-link:hover {
  color: rgba(255, 137, 6,.85) !important;
}

a.nav-link:focus {
  color: rgba(255, 137, 6,1.0) !important;
}

div.skills-card {
  background-color: #0F0E17;
  color: #fffffe;
}

div.list-group-item {
  background-color: #0F0E17;
}